# The server running the jenkins web interface, used for REST requests
# jenkins.host=my-server.lab.eng.bos.redhat.com
# jenkins.port=8080

# The name of the specially configured job
# jenkins.job.name=my-pull-job

# The Jenkins API Token / Password
# jenkins.job.token=supersecret

# Job URL prefix to refer to in comments
# jenkins.publish.url=http://my-server.lab.eng.bos.redhat.com/jenkins/job
# jenkins.publish.public.url=http://hudson.jboss.org/job

# TeamCity Configuration
# teamcity.host=my.teamcity.host
# teamcity.port=443
# teamcity.build.branch-mapping=master=>SomeTeamCityBuildJobName,1.x=>SomeOtherBuildJobNameFrom1XBranch
# teamcity.user=some-user
# teamcity.password=xxxxx
# disable the TeamCity integration so other integrations can be tested (GitHub etc.).
# teamcity.disabled=true|false

# Github Authentication Info
# github.login=my-github-project-user
# github.token=<Generate one using the Token API>

# Github Rep (wihtout the .git)
# github.repo=organization/repo

# Labels to change or replace if the commit has updated.
# A list of comma separated labels
# issue.labels=fixme,rebase-required
# The label to replace the label with
# issue.label.fixme=review-needed

# Labels which trigger actions
# Skip triggering a build if the label is present on the PR
# labels.skip=skip-ci
